<!-- <h1 style="background-color:powderblue ;">Welcome to Angular</h1>
<app-home></app-home>
<app-contact></app-contact>
<app-employee></app-employee>
<router-outlet></router-outlet> -->

<!-- <nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active"><a routerlink="/">Home</a></li>
            <li><a routerlink="/contact">Contact us</a></li>
            <li><a routerlink="/emp">Employee</a></li>
            <li><a routerlink="/reactiveform">ReactiveForm</a></li>
        </ul>
    </div>
</nav> -->
<nav style="background-color:blueviolet"  class="navbar navbar-default">
    
    <div class="container">
        <ul class="nav navbar-nav">
            <li> <a style="color:white;" routerLink="/">Home </a></li>
            <li> <a style="color:white;" routerLink="/about">About Us</a></li>
            <li> <a style="color:white;" routerLink="/contact">Contact Us</a></li>
            <li> <a style="color:white;" routerLink="/emp">Employee</a></li>
            <li> <a style="color:white;" routerLink="/emplist">EmployeeList</a></li>
            <li> <a style="color:white;" routerLink="/reacform">ReactiveForm</a></li>
            <li> <a style="color:white;" routerLink="/user">UserList</a></li>
            <li> <a style="color:white;" routerLink="/ngdemo">Ng-Demo</a></li>
            


           
            
           

        </ul>
    </div>
    
</nav>
<router-outlet></router-outlet>