<h1>Employee-List </h1>
<table border="1">
    <thead style="color: tomato; background-color:yellow;" >
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>Description</th>
            <th>Speaker</th>
          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emplist of events ">
            <td style="background-color: wheat;">{{emplist.id}}</td>
            <td style="background-color:powderblue">{{emplist.name |uppercase}}</td>
            <td style="background-color: skyblue;">{{emplist.description}}</td>
            <td style="background-color: pink;">{{emplist.speaker}}</td>
            <th><button (click)="deleteEvent(events)" type="button">X</button></th>
        </tr>
    </tbody>
</table>

<div class="well">
    <form class="form-inline">
        <div class="from-group">
            <input placeholder="Event Name" class="form-control" #eventname />
        </div>
        <div class="from-group">
            <input placeholder="Description" class="form-control" #desciption />
        </div>
        <div class="from-group">
            <input placeholder="Speaker" class="form-control" #speaker />
        </div>
        <button (click)="addEvent(eventname.value,desciption.value,speaker.value )" type="button">Add New Event</button>
    </form>
</div>



